PIHOLE_IMAGE=pihole/pihole:2026.02.0
PIHOLE_CONTAINER_NAME=pihole
PIHOLE_BIND_IP=192.168.1.10
PIHOLE_WEB_PORT=8090
TZ=America/Sao_Paulo
FTLCONF_webserver_api_password=change-me
FTLCONF_dns_upstreams=unbound#5335
FTLCONF_dns_listeningMode=ALL
FTLCONF_misc_etc_dnsmasq_d=true
