# --- Key Models ---
OPENROUTER_API_KEY=

# --- UI ---
UI_USERNAME=admin
UI_PASSWORD=admin.2626

# --- PostgreSQL ---
DATABASE_URL = "postgresql://llmproxy:dbpassword9090@db:5432/litellm"

# Development Configs
LITELLM_MASTER_KEY = "sk-1234"
PORT=4000
STORE_MODEL_IN_DB = "True"