POSTGRES_IMAGE=postgres:15-alpine
POSTGRES_CONTAINER_NAME=postgres
DB_BOOTSTRAP_IMAGE=postgres:15-alpine
DB_BOOTSTRAP_CONTAINER_NAME=db-bootstrap
DB_BOOTSTRAP_DATABASES_FILE=/databases

POSTGRES_USER=master
POSTGRES_PASSWORD=master_db_pass
POSTGRES_DB=master

LITELLM_DB_NAME=litellm
LITELLM_DB_USER=litellm
LITELLM_DB_PASSWORD=litellm_db_pass

# Compatibilidade com observability/monitoring
DATA_SOURCE_URI=postgres:5432/postgres?sslmode=disable
DATA_SOURCE_USER=master
DATA_SOURCE_PASS=master_db_pass
