PROMETHEUS_IMAGE=prom/prometheus:v3.5.0
PROMETHEUS_CONTAINER_NAME=prometheus-backup
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION_TIME=7d
PROMETHEUS_RETENTION_SIZE=512MB

POSTGRES_EXPORTER_IMAGE=quay.io/prometheuscommunity/postgres-exporter:latest
POSTGRES_EXPORTER_CONTAINER_NAME=postgres-exporter-backup
DATA_SOURCE_URI=postgres:5432/postgres?sslmode=disable
DATA_SOURCE_USER=master
DATA_SOURCE_PASS=master_db_pass

BLACKBOX_EXPORTER_IMAGE=quay.io/prometheus/blackbox-exporter:v0.27.0
BLACKBOX_EXPORTER_CONTAINER_NAME=blackbox-exporter-backup

CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor:v0.52.1
CADVISOR_CONTAINER_NAME=cadvisor-backup

ALERTMANAGER_IMAGE=prom/alertmanager:v0.28.1
ALERTMANAGER_CONTAINER_NAME=alertmanager-backup
ALERTMANAGER_PORT=9093
