TRAEFIK_IMAGE=traefik:v3.6.10
TRAEFIK_CONTAINER_NAME=traefik
TRAEFIK_HTTP_PORT=8088
TRAEFIK_HTTPS_PORT=8443
TRAEFIK_DASHBOARD_PORT=8089

CROWDSEC_IMAGE=crowdsecurity/crowdsec:v1.7.6
CROWDSEC_CONTAINER_NAME=crowdsec
CROWDSEC_TRAEFIK_BOUNCER_KEY=change-me
