#====================#
#  Server / General  #
#====================#
HOST=0.0.0.0
PORT=3080
NODE_ENV=production
TRUST_PROXY=0            # sem proxy reverso

#=================#
#   Databases     #
#=================#
MONGO_URI=mongodb://mongodb:27017/LibreChat
MEILI_HOST=http://meilisearch:7700
MEILI_NO_ANALYTICS=true
POSTGRES_DB=librechat
POSTGRES_USER=libreuser
POSTGRES_PASSWORD=changeme
POSTGRES_HOST_AUTH_METHOD=trust
DB_HOST=vectordb            # usado pelo RAG API
RAG_PORT=8000

#================#
#     OpenAI     #
#================#
OPENAI_API_KEY=user_provided
ASSISTANTS_API_KEY=user_provided

#==============#
#   Anthropic  #
#==============#
ANTHROPIC_API_KEY=user_provided

#==============#
#    Google    #
#==============#
GOOGLE_KEY=user_provided

#====================#
#   Authentication   #
#====================#
JWT_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
CREDS_KEY=replace_me
CREDS_IV=replace_me

#==================#
#   Application    #
#==================#
DOMAIN_CLIENT=http://localhost:${PORT}
DOMAIN_SERVER=http://localhost:${PORT}
APP_TITLE=LibreChat
HELP_AND_FAQ_URL=https://librechat.ai
ALLOW_REGISTRATION=true
ALLOW_EMAIL_LOGIN=true

#=========#
#  Search #
#=========#
SEARCH=true
MEILI_MASTER_KEY=change_me

#====================#
#   Optional flags   #
#====================#
DEBUG_LOGGING=true
DEBUG_CONSOLE=false
NO_INDEX=true
