HOST=0.0.0.0
PORT=3080
LIBRECHAT_PORT=3080
NODE_ENV=production
TRUST_PROXY=0

MONGO_URI=mongodb://mongodb:27017/LibreChat
MEILI_HOST=http://meilisearch:7700
MEILI_NO_ANALYTICS=true
POSTGRES_DB=librechat
POSTGRES_USER=libreuser
POSTGRES_PASSWORD=changeme
DB_HOST=vectordb
RAG_PORT=8000

LITELLM_BASE_URL=http://litellm-proxy:4000/v1
LITELLM_API_KEY=sk-sua-chave-master-aqui

JWT_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
CREDS_KEY=replace_me
CREDS_IV=replace_me

DOMAIN_CLIENT=http://localhost:${PORT}
DOMAIN_SERVER=http://localhost:${PORT}
APP_TITLE=LibreChat
HELP_AND_FAQ_URL=https://librechat.ai
ALLOW_REGISTRATION=true
ALLOW_EMAIL_LOGIN=true

SEARCH=true
MEILI_MASTER_KEY=change_me

DEBUG_LOGGING=true
DEBUG_CONSOLE=false
NO_INDEX=true
