TZ=America/Sao_Paulo  # Seu fuso horário (ajuste se necessário)
WEBPASSWORD=admin.2626 # Senha para login na interface web
# DNS_1 e DNS_2 são os servidores DNS upstream que o Pi-hole usará
DNS_1=1.1.1.1
DNS_2=1.0.0.1
# Modo de escuta DNS (ajuste conforme necessário)
FTLCONF_dns_listeningMode=all